<% @post.tags.build if @post.tags.empty? %>
<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>

<% if false %>
  <h2>Tags</h2>
  <% f.fields_for :tags do |tag_form| %>
    <p>
      <%= tag_form.label :name %><br />
      <%= tag_form.text_field :name %>
    </p>

    <% unless tag_form.object.nil? || tag_form.object_new_record? %>
      <% tag_form.label :_destroy, 'Remove:' %>
      <% tag_form.check_box :destroy %>
    <% end %>
  <% end %>
<% end %>
  
  <p>
    <%= f.submit "Save" %>
  </p>

<% end %>

